@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @apply text-base antialiased;
    }


    input::placeholder {
        color: #A8A8A8 !important;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla__slide__inner {
    display: block;
}
